# Ignore egg-info directory
*.egg-info/

# Ignore build directory
build/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
env/

# Ignore distribution files
dist/
*.egg-info/

# Test files and environments
test_env/
tests/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Visual Studio Code
.vscode/